<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>db_userid</param-name>
        <param-value>trgoodwin</param-value>
    </context-param>
    <context-param>
        <param-name>db_password</param-name>
        <param-value>E7Q3xFDkYa23</param-value>
    </context-param>
    <listener>
        <listener-class>
             jdbc.GlobalConnectionPool
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>QuizServlet</servlet-name>
        <servlet-class>quizColl.QuizServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuizServlet</servlet-name>
        <url-pattern>/quizServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QuizServletDB</servlet-name>
        <servlet-class>quizColl.quizServletDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuizServletDB</servlet-name>
        <url-pattern>/quizServletDB</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginS</servlet-name>
        <servlet-class>quizColl.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginS</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
